<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link rel="stylesheet" href="{% static 'src/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}">

    <link rel="icon" href="{% static 'portfolio/icon.png' %}">

    <title>صفحه سعید</title>
</head>

<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'portfolio/icon.png' %}" width="40px" height="40px"> سعید باقری</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-contents">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-contents">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item align-self-start align-self-md-center mr-md-0 mr-4 active">
                    <a class="nav-link" href="{% url 'home' %}">خانه</a>
                </li>
                <li class="nav-item align-self-start align-self-md-center mr-md-0 mr-4">
                    <a class="nav-link" href="{% static 'portfolio/resume.pdf' %}">رزومه</a>
                </li>
                <li class="nav-item align-self-start align-self-md-center mr-md-0 mr-4">
                    <a class="nav-link" href="{% url 'home' %}admin" target="_blank">مدیر</a>
                </li>
                <li class="nav-item align-self-start align-self-md-center mr-md-0 mr-4">
                    <a class="nav-link" href="{% url 'blog_app:blog_home' %}"><span class="btn btn-primary d-inline">وبلاگ</span></a>
                </li>
            </ul>

        </div>
    </div>
</nav>


<section id="my_picture" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body text-center bg-light">
                        <img src="{% static 'portfolio/1.jpg' %}" class="img-fluid rounded-circle w-75">
                    </div>
                    <div class="card-footer text-center">
                        <h2 class="text-dark">سعید باقری، فارغ التحصیل مقطع کارشناسی ارشد رشته مهندسی برق</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="my_projects" class="py-5 my-5">
    <div class="container">
        <p class="lead text-right display-4 mr-3 mr-sm-0">پروژه ها</p>
        <hr>
        <div class="row justify-content-center justify-content-sm-start">
            {% for project in projects %}
                <div class="col-md-4 col-sm-6 col-11">
                    <div class="card mb-4">
                        <a href="{{ project.url }}" target="_blank"><img src="{{ project.image.url }}" class="card-img-top"></a>
                        <div class="card-body">
                            <h2 class="card-title text-right">{{ project.title }}</h2>
                            <p class="card-text text-right">{{ project.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section id="footer" class="mt-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="py-4 text-white">
                    <p>Copyright &copy; 2017</p>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="{% static 'src/js/jquery.min.js' %}"></script>
<script src="{% static 'src/js/tether.min.js' %}"></script>
<script src="{% static 'src/js/bootstrap.min.js' %}"></script>
<script src="{% static 'src/js/navbar-fixed.js' %}"></script>

</body>
</html>





